<!DOCTYPE html>
{% load static %}


<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ParaPhrase</title>
    <link rel='stylesheet' type='text/css' href="{% static 'style.css' %}"/>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <!----- header----->
    <header>
      <h1 class="headline">
          <a>ParaPhrase</a>
      </h1>
    </header>
    <!----- /header ----->
    <textarea rows="10" cols="60" id="input_form">吾輩は猫である。 名前はまだ無い。 どこで生れたか頓（とん）と見當がつかぬ。 何でも薄暗いじめじめした所でニヤーニヤー泣いて居た事丈は記憶して居る。</textarea>
      
      <button type="button" onclick="clickBtn()">変換</button>

      


      <span id="waiting"></span>
      <br/>
      <textarea rows="10" cols="60" id="output_form">結果がここに表示されます</textarea>

      

      <script>
        function clickBtn() {
          document.getElementById("waiting").textContent = "変換中...";
          var txt = document.getElementById("input_form").value;

          $.ajax({
            url: "{% url 'app:call_paraphrase' %}",
            method: 'GET',
            data: {"input_data": txt},
            dataType: "html",
            contentType: "application/json",
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            },
            error: function(xhr, status, error) {
              console.log("error")
            }
          })
          .done(function(data) {
            
            document.getElementById("waiting").textContent = "";
            document.getElementById("output_form").innerHTML = data;
            console.log("Success"); 
          });

          // csrf_tokenの取得に使う
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }

          // ヘッダにcsrf_tokenを付与する関数
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          };
        }

      </script>
  </body>
</html>